body{
    background:#333333;
    color:#fff;
}

.navbar{
    border-bottom: 3px solid #096d9f;
    background: #2e2f2f;
    opacity: 0.7;
}


#home-section{
    background: url("../img/computer\ 768x512.jpg")no-repeat center top;
    background-size: cover;
    min-height: 700px;
    background-attachment: fixed;

}

#home-section .dark-overly{
    background: rgba(0,0,0,0.7);
    min-height: 700px;
}


#home-section .home-inner{
    padding-top: 150px;
    padding-bottom: 50px;


}

#home-section .fas{
    background: #fff ;
    color:rgb(191, 24, 206);
    padding: 4px;
    font-size: 30px;
    border-radius: 5px;
}
